<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses Delete</title>
  </head>
  <body>
    <p>Are you sure you want to delete the following course?</p>
    {% for course in courses %}
    Course Name: {{course.name}}
    Course Description: {{course.description}}
    <form action='/' method='POST'>
      {% csrf_token %}
      <input type="submit" value="No">
    </form>
    <br>
    <form action='/actual_delete/{{course.id}}' method='POST'>
      {% csrf_token %}
      <input type="submit" value="Yes">
    </form>
    {% endfor %}
  </body>
</html>